[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
click = "==6.7"
idna = "==2.7"
itsdangerous = "==0.24"
peewee = "==3.6.4"
"psycopg2" = "==2.7.5"
pymessenger = "==0.0.7.0"
requests = "==2.19.1"
requests-toolbelt = "==0.8.0"
rivescript = "==1.14.9"
six = "==1.11.0"
"urllib3" = "==1.23"
Flask = "==1.0.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
rq = "*"
python-dotenv = "*"
mammoth = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
beautifulsoup4 = "==4.8.0"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
