[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.7"
itsdangerous = "==0.24"
peewee = "==3.6.4"
pymessenger = "==0.0.7.0"
requests = "==2.20.0"
requests-toolbelt = "==0.8.0"
rivescript = "==1.14.9"
six = "==1.11.0"
"urllib3" = "==1.24.2"
Flask = "==1.0.2"
"Jinja2" = "==2.11.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.5"
rq = "*"
python-dotenv = "*"
mammoth = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
beautifulsoup4 = "==4.8.0"
python-dateutil = "*"
psycopg2 = "*"
pycryptodome = "*"
redis = "*"
celery = "*"
python-docx = "*"
yagmail = '*'

[dev-packages]
rope = "*"
pylint = "*"

[requires]
python_version = "3.8"
