{% extends "layout.html" %}

{% block title %}Dino{% endblock %}

{% block content %}
	<h2>Confirm Dino Entries</h2>	
	<script type="text/javascript">
		(function() {
			var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

			var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

			Date.prototype.getMonthName = function() {
				return months[ this.getMonth() ];
			};
			Date.prototype.getDayName = function() {
				return days[ this.getDay() ];
			};
		})();
		function makeEditable(e) {
		  var cell = e.target;
		  if (cell.dataset.editing !== 'true') {
		    cell.dataset.editing = true;
		    var text = cell.innerHTML;
		    cell.innerHTML = '';
		    var input = document.createElement('input');
		    input.addEventListener('blur', makeNonEditable);
		    input.setAttribute("name", "test");
		    input.type = "text";
		    input.value = text;
		    cell.appendChild(input);
		  }
		}

		function makeNonEditable(e) {
		  var input = e.target;
		  var text = input.value;
		  var cell = input.parentElement;
		  if (cell.dataset.editing === 'true') {
		    cell.dataset.editing = false;
		    cell.innerHTML = text;
		  }
		}

		function addDays(date, days) {
			var newDate = new Date()
			newDate.setTime(date.getTime() + days * 86400000)
			return newDate
		}

		function date_str(date) {
			return date.toISOString().slice(0,10)
		}

		function updateDates(e) {
			var firstDate = e.target;
			firstDate.className = "";
			if (!firstDate.value) {
				return
			}
			var date = new Date(firstDate.value);
			for (var delta = 1; delta < 7; delta++) {
				var id = (delta + 1).toString() + "/date"
				changeDate = document.getElementById(id)
				var newDate = addDays(date, delta)
				var dateString = date_str(newDate)
				changeDate.value = dateString
			}
		}

		var rows = 10;
		var cols = 4;

		var table = document.createElement('table');
		table.classList.add('table');
		table.setAttribute('name', 'table')

		var thead = document.createElement('thead');
		var headRow = document.createElement('tr');
		var columnNames = ["Date", "Breakfast", "Lunch", "Dinner"];
		var lunchHeadings = ["Main:\n", "Vegetarian:\n", "Salad:\n", ""]
		var dinnerHeadings = ["Main:\n", "Vegetarian:\n", "Vegetables:\n", "Desert:\n"]
		var headingList = [["", "", "", ""], lunchHeadings, dinnerHeadings]
		

		for (var i = 0; i < 4; i++) {
		  var th = document.createElement('th');
		  th.appendChild(document.createTextNode(columnNames[i]));
		  thead.appendChild(th);
		}

		thead.appendChild(headRow);

		var tbody = document.createElement('tbody');
		tbody.name = "data";
		var first_date = "{{ extracted[0] }}";
		var date_obj = new Date(first_date)
		{% for day in extracted[2] %}
			var tr = document.createElement('tr');
			tr.name = "{{loop.index}}";
			var date = document.createElement('td');
			date.width = "10%";
			var dateval = document.createElement('input');
			var weekday = document.createElement('p')
			dateval.type = "date";
			var this_date = addDays(date_obj, {{loop.index - 1}})
			dateval.value = date_str(this_date);
			weekday.innerHTML = this_date.getDayName();
			dateval.name = tr.name + "/date";
			dateval.id = dateval.name
			if ( {{ loop.index }} == 1) {
				if ( "{{ extracted[1] }}" == "False" ) {
					dateval.className = "date_err"
				}
				dateval.addEventListener('input', updateDates)
			}
			date.appendChild(dateval)
			date.appendChild(weekday)
			tr.appendChild(date)
			{% for meal in day[1:] %}
				var td = document.createElement('td');
				td.name = "{{loop.index}}"
				td.width = "30%";
				var mealInd = {{ loop.index }} - 1
				{% for ele in meal %}
					{% if ele != "" %}
						var p = document.createElement('textarea');
						var subInd = {{ loop.index }} - 1
						var lbl = ""
						if (mealInd < 3 && subInd < 4) {
							lbl = headingList[mealInd][subInd]
						}
						p.value = `{{ele}}`;
						p.name = tr.name + "/" + td.name;
						td.appendChild(p);
					{% endif %}
				{% endfor %}
				tr.appendChild(td)
			{% endfor %}
			tbody.appendChild(tr)
		{% endfor %}

		table.appendChild(thead);
		table.appendChild(tbody);

		var form = document.createElement('form');
		form.setAttribute("action", "file/confirm");
		form.setAttribute("method", "post");
		form.setAttribute("class", "pure-form pure-form-stacked");
		var submit = document.createElement('input');
		submit.setAttribute("type", "submit");
		submit.setAttribute("value", "confirm");
		submit.setAttribute("class", "pure-button pure-button-primary");
		form.appendChild(submit)
		form.appendChild(table)
		document.body.appendChild(form);
	</script>

{{ extracted[3]|safe }}


{% endblock %}