{% extends "layout.html" %}

{% block title %}Dino{% endblock %}

{% block content %}

		<div><h2>Dino Portal</h2></div>
		<hr>
		<h3>Upload dino File</h3>
		<form action="/dino/fileadd" method=post enctype=multipart/form-data>
		  <input name='token' value='{{token}}' style='display: none' />
		  <input type=file name=file>
		  <input type=submit value=Upload>
		</form>
		<hr>
		<h3>Add a Meal 🌮</h3>
		<form action="/dino/add" method="post" class="pure-form pure-form-stacked">
			<input name='token' value='{{token}}' style='display: none' />
			<input name="date" type="date"><br/>
			<select name="type">
			  	<option value="breakfast">Breakfast</option>
			  	<option value="lunch">Lunch</option>
			  	<option value="dinner">Dinner</option>
			</select><br>
			<textarea name="description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<input type="submit" value="Add Meal" class="pure-button pure-button-primary">
		</form>
		<hr>
		<h3>Batch Upload 🎂</h3>
		<form action="/dino/batch/add" method="post" class="pure-form pure-form-stacked">
			<input name='token' value='{{token}}' style='display: none' />
			<input name="date" type="date"><br/>
			<h4>Breakfast:</h4>
			<textarea name="breakfast_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<h4>Lunch:</h4>
			<textarea name="lunch_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<h4>Dinner:</h4>
			<textarea name="dinner_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<input type="submit" value="Add Meals" class="pure-button pure-button-primary">
		</form>
		<hr>
		<h3>All Meals</h3>

		<form action="/dino/batchdelete" method="post">
		<input type="submit" value="Delete Selected" class="pure-button pure-button-primary">
		<input name='token' value='{{token}}' style='display: none' />

		<table class="pure-table">
			<thead>
				<th>Date</th>
				<th>Meal</th>
				<th>Description</th>
				<th>Likes</th>
				<th>Dislikes</th>
				<th>Select</th>
				<th>Delete</th>
			</thead>
			<tbody>
				{% for meal in meals %}
				<tr>
					<td>{{ meal.date }}</td>
					<td>{{ meal.type }}</td>
					<td>{{ meal.description }}</td>
					<td>{{ meal.likes }}</td>
					<td>{{ meal.dislikes }}</td>
					<td>
						<input type="checkbox" value="{{meal.id}}" name="delete">
					</td>
					<td><a href="{{url_for('meal_delete', meal_id=meal.id, token=token)}}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</form>

		<hr>
		<a href='/admin?token={{token}}'>Back</a>
{% endblock %}
