{% extends "layout.html" %}

{% block title %}Dino{% endblock %}

{% block content %}

		<div><h2>Dino Portal</h2></div>
		<hr>
		<h3>Upload dino File</h3>
		<form action="/dino/fileadd" method=post enctype=multipart/form-data>
		  <input name='token' value='{{token}}' style='display: none' />
		  <input type=file name=file>
		  <input type=submit value=Upload>
		</form>
		<hr>
		
		<h3>All Meals</h3>
		
		<form action="/dino/batchdelete" method="post">
		<input type="submit" value="Delete Selected" class="pure-button pure-button-primary">
		<input name='token' value='{{token}}' style='display: none' />

		<table class="pure-table">
			<thead>
				<th>Date</th>
				<th>Ty</th>
				<th>Description</th>
				<th>Likes</th>
				<th>Dislikes</th>
				<th>Select</th>
				<th>Delete</th>
			</thead>
			<tbody>
				{% for meal in meals %}
				<tr>
					<td>{{ meal.date }}</td>
					<td>{{ meal.type }}</td>
					<td>{{ meal.description }}</td>
					<td>{{ meal.likes }}</td>
					<td>{{ meal.dislikes }}</td>
					<td>
						<input type="checkbox" value="{{meal.id}}" name="delete">
					</td>
					<td><a href="{{url_for('deleteMeal', meal_id=meal.id, token=token)}}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</form>

		<hr>
		<a href='/admin?token={{token}}'>Back</a>
{% endblock %}
