{% extends "layout.html" %}

{% block title %}Dino{% endblock %}

{% block content %}

		<h2>DINO</h2>
		<hr>
		<h3>Add a Meal 🌮</h3>
		<form action="/dino/add" method="post">
			<input name="date" type="date"><br/>
			<select name="type">
			  	<option value="breakfast">Breakfast</option>
			  	<option value="lunch">Lunch</option>
			  	<option value="dinner">Dinner</option>
			</select><br>
			<textarea name="description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<input type="submit" value="Add Meal">
		</form>
		<hr>
		<h3>Batch Upload 🎂</h3>
		<form action="/dino/batch/add" method="post">
			<input name="date" type="date"><br/>
			<h4>Breakfast:</h4>
			<textarea name="breakfast_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<h4>Lunch:</h4>
			<textarea name="lunch_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<h4>Dinner:</h4>
			<textarea name="dinner_description" rows="8" cols="80" placeholder="what are you eating?"></textarea><br>
			<input type="submit" value="Add Meals">
		</form>
		<hr>
		<h3>All Meals</h3>

		{% for meal in meals %}

			<div class="meal">
				<h4>{{ meal.date }} - {{ meal.type }}</h4>
				<p>{{ meal.description }}</p>
				<p><b>Likes:</b> {{ meal.likes }} | <b>Dislikes:</b> {{ meal.dislikes }}</p>
				<a href="{{url_for('deleteMeal', meal_id=meal.id)}}">Delete</a>
			</div>

		{% endfor %}

		<hr>

{% endblock %}
