{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome to Baxtabot - Admin</h1>

    <div style='display: {{ "block" if permission_denied else "none" }}'>You do not have permission to access that page</div>

    <div>
        <h3><a href='/dino?token={{token}}'>Dino</a></h3>
    </div>
    <div>
        <h3><a href='/ressie?token={{token}}'>Ressies</a></h3>
    </div>
    <div>
        <h3><a href='/upload?token={{token}}'>Calendar</a></h3>
    </div>
    <div>
        <h3><a href='/latemeals?token={{token}}'>Late Meals</a></h3>
    <div>
        <h3><a href='/logout?token={{token}}'>Home</a></h3>
    </div>

{% endblock %}
