{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div>
        <h1>Welcome to Baxtabot</h1>
    </div>

    <div style='display: {{ "block" if permission_denied else "none" }}'>You do not have permission to access that page.</div>

    <div>
        <h3><a href='/dino?token={{token}}'>Dino Portal</a></h3>
    </div>
    <div>
        <h3><a href='/ressie?token={{token}}'>Ressies Portal</a></h3>
    </div>
    <div>
        <h3><a href='/upload?token={{token}}'>Calendar Portal</a></h3>
    </div>
    <div>
        <h3><a href='/latemeals?token={{token}}'>Late Meals Portal</a></h3>
    </div>
    <div>
        <h3><a href='/users?token={{token}}'>Users Portal</a></h3>
    </div>
    <div>
        <h3><a href='/user/profile?token={{token}}'>My Profile</a></h3>
    </div>
    <div>
        <h3><a href='/logout?token={{token}}'>Logout</a></h3>
    </div>

{% endblock %}
