<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>🤖</title>
		<style media="screen">
			h1,h2,h3,h4,h5,h6,p,a {
				font-family: monospace;
			}

			img {
				margin-top: 100px;
				border-radius: 10px;
			}

			a {
				text-decoration: none;
				color: blue;
			}
		</style>
	</head>
	<body>
		<center>
			<!--h1 style="font-size:200px;">🤖</h1--->
			<img src='../bbot.png' />
			<h3><a href="https://facebook.com/baxtabot">BaxtaBot</a></h3>
			<p>Baxter's offical malevolent sentient A.I.</p>
			<p><a href="/privacy">privacy policy</a> <span style='font-size:6px'>as required by facebook...</span></p>
		</center>
	</body>
</html>
