{% extends "layout.html" %}

{% block title %}Late Meals{% endblock %}

{% block content %}

		<h2>Late Meals</h2>
		<hr>

		<h3>Outstanding Meals</h3>

		<form action='/latemeals/batchcompleted' method='post'>
			<input type='submit' value='Mark Complete' class='pure-button pure-button-primary'>
	        <table class='pure-table'>
	            <thead>
	                <th>Ressie</th>
					<th>Date</th>
					<th>Type</th>
	                <th>Meal</th>
	                <th>Notes</th>
	            </thead>
	            <tbody>
	                {% for meal in outstandingMeals %}
	                <tr>
	                    <td>{{ meal.first_name }} {{ meal.last_name }}</td>
						<td>{{ meal.date }}</td>
						<td>{{ meal.type }}</td>
	                    <td>{{ meal.description }}</td>
	                    <td>{{ meal.notes }}</td>
	                    <td>
	                        <input type='checkbox' value='{{meal.id}}' name='complete'>
	                    </td>
						<td><a href='/latemeals/delete/{{meal.id}}'>Delete</a></td>
	                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
		</form>

		<h3>Completed Meals</h3>
		<table class='pure-table'>
            <thead>
                <th>Ressie</th>
				<th>Date</th>
				<th>Type</th>
                <th>Meal</th>
                <th>Notes</th>
            </thead>
            <tbody>
                {% for meal in completedMeals %}
                <tr>
                    <td>{{ meal.first_name }} {{ meal.last_name }}</td>
					<td>{{ meal.date }}</td>
					<td>{{ meal.type }}</td>
                    <td>{{ meal.description }}</td>
                    <td>{{ meal.notes }}</td>
					<td><a href='/latemeals/delete/{{meal.id}}'>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

		<hr>
		<a href='/admin'>Back</a>
{% endblock %}
