{% extends "layout.html" %}

{% block title %}Late Meals{% endblock %}

{% block content %}

		<h2>Late Meals</h2>
		<hr>

        <table class='pure-table'>
            <thead>
                <th>Ressie</th>
                <th>Date</th>
                <th>Meal</th>
                <th>Notes</th>
            </thead>
            <tbody>
                { % for meal in meals %}
                <tr>
                    <td>{{ meal.ressie }}</td>
                    <!--td>{{ meal.date }}</td-->
                    <td>{{ meal.meal }}</td>
                    <td>{{ meal.notes }}</td>
                    <td>
                        <input type='checkbox' value='{{ meal.id }}' name='delete'>
                    </td>
                    <!--td><a href='{{ url_for("deleteMeal", meal_id=meal.id) }}'>Delete</a></td-->
                </tr>
                {% endfor %}
            </tbody>
        </table>

		<hr>
		<a href='/admin'>Back</a>
{% endblock %}
