{% extends "layout.html" %}

{% block title %}Ressies{% endblock %}

{% block content %}
		<div><h2>Ressies Portal</h2></div>
		<hr>
		<h3>Upload Resident File</h3>
		<form action="/ressie/fileadd" method=post enctype=multipart/form-data>
		  <input type=file name=file>
		  <input name="token" value="{{token}}" style="display: none" />
		  <input type=submit value=Upload>
		</form>
		<hr>
		<h3>Add a Resident</h3>
		<form action="/ressie" method="post" class="pure-form pure-form-stacked">
			<input name='token' value='{{token}}' style='display: none' />
			<label for="first_name">First Name:</label><input name="first_name" type="text"><br/>
			<label for="last_name">Last Name:</label><input name="last_name" type="text"><br/>
			<label for="room_number">Room Number:</label><input name="room_number" type="number"><br/>
			<input type="submit" value="New Resident" class="pure-button pure-button-primary">
		</form>
		<hr>
		<h3>All Ressies</h3>

			<table class="pure-table">
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Room Number</th>
					<th>Floor</th>
					<th>Delete</th>
				</thead>
				<tbody>
					{% for ressie in ressies %}
					<tr>
						<td>{{ ressie.first_name }}</td>
						<td>{{ ressie.last_name }}</td>
						<td>{{ ressie.room_number }}</td>
						<td>{{ ressie.floor }}</td>
						<td><a href="{{url_for('ressie_delete', ressie_id=ressie.id)}}?token={{token}}">Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		<hr>
		<a href='/admin?token={{token}}'>Back</a>
{% endblock %}
