<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>🤖 | update</title>
		<style media="screen">
			h1,h2,h3,h4,h5,h6,p,a {
				font-family: monospace;
			}
		</style>
	</head>
	<body>
		<h1>🤖</h1>
		<h2>SEND UPDATE</h2>
		<hr>
		<h3>☢️ This will send a message TO ALL USERS ☢️</h3>
		<form action="/update" method="post">
			<textarea name="message" rows="8" cols="80">BaxtaBot has been updated by a very handsome creator.\nYou can now:</textarea><br>
			<input type="submit" value="SEND">
		</form>

		<hr>
	</body>
</html>
