{% extends "layout.html" %}

{% block title %}Upload Calendar{% endblock %}

{% block content %}
		<h2>Upload Weekly Calendar</h2>
		<hr>
		<form action="/upload" method="post">
			<input name='token' value='{{token}}' style='display: none' />
			<p>Week starting:</p>
			<input type="date" name="date"><br>
			<p>Asset URL:</p>
			<input type="text" name="assetURL"><br>
			<input type="submit" value="SEND">
		</form>

		<hr>
		<h3>All Calendars</h3>

		{% for asset in assets %}

			<div class="cal">
				<p>Attatchment ID: {{asset.assetID}}</p>
				<p>For Week Starting: {{asset.week_start}}</p>
			</div>

		{% endfor %}

		<hr>
		<a href='/admin?token={{token}}'>Back</a>
{% endblock %}
