{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block content %}

		<h2>Users</h2>
		<hr>

		<table class="pure-table">
			<thead>
				<th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Dino Menu - Read</th>
                <th>Dino Menu - Write</th>
                <th>Calendar</th>
                <th>Late Meals</th>
                <th>Ressies</th>
                <th>Sport</th>
                <th>Users</th>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
                    <td><input type="text" defaultValue="{{ user.position }}" name="position" /></td>
					<td>{{ "<input type='checkbox' name='dinoread' checked/>" if user.dinoread else "<input type='checkbox' name='dinoread'/>"}}</td>
					<td>{{ "<input type='checkbox' name='dinowrite' checked/>" if user.dinowrite else "<input type='checkbox' name='dinowrite'/>"}}</td>
					<td><input type="checkbox" checked="{{ user.calendar }}" /></td>
                    <td><input type="checkbox" checked="{{ user.latemeals }}" /></td>
                    <td><input type="checkbox" checked="{{ user.ressies }}" /></td>
                    <td><input type="checkbox" checked="{{ user.sport }}" /></td>
                    <td><input type="checkbox" checked="{{ user.users }}" /></td>
					<td><a href="{{url_for('deleteUser', client_id=user.id, token=token)}}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</form>

		<hr>
		<a href='/admin?token={{token}}'>Back</a>
{% endblock %}
